.obsidian/workspace.json
00 Bases/**.md
01 Fleeting Notes/**.md
02 Sources/**/*[.png|.jpg|.jpeg|.md]
03 Tags/**.md
04 Indexes/**.md
05 Base Notes/**.md
06 Daily Notes/**.md
07 Projects/**/*[.png|.jpg|.jpeg|.md]
99 Archive/**/*[.png|.jpg|.jpeg|.md]
Clippings/**.md
Excalidraw/**.excalidraw
Images/**/*
